//profiles  {
//    omics  {
//        process  {
//
//            withName: check_PE  {
//
//            }
//
//            withName: bam2fastq  {
//
//            }
//
//            withName: merge_fastq  {
//
//            }
//
//            withName: RegionsBedToIntervalList  {
//
//            }
//
//            withName: BaitsBedToIntervalList  {
//
//            }
//
//            withName: preIntervalList  {
//
//            }
//
//            withName: SplitIntervals  {
//
//            }
//
//            withName: IntervalListToBed  {
//
//            }
//
//            withName: ScatteredIntervalListToBed  {
//
//            }
//
//            withName: FastQC  {
//
//            }
//
//            withName: fastp  {
//
//            }
//
//            withName: FastQC_trimmed  {
//
//            }
//
//            withName: make_uBAM  {
//
//            }
//
//            withName: Bwa  {
//
//            }
//
//            withName: merge_uBAM_BAM  {
//
//            }
//
//            withName: MarkDuplicates  {
//
//            }
//
//            withName: alignmentMetrics  {
//
//            }
//
//            withName: scatterBaseRecalGATK4  {
//
//            }
//
//            withName: gatherGATK4scsatteredBQSRtables  {
//
//            }
//
//            withName: scatterGATK4applyBQSRS  {
//
//            }
//
//            withName: GatherRecalBamFiles  {
//
//            }
//
//            withName: GetPileup  {
//
//            }
//
//            withName: Mutect2  {
//
//            }
//
//            withName: gatherMutect2VCFs  {
//
//            }
//
//            withName: FilterMutect2  {
//
//            }
//
//            withName: HaploTypeCaller  {
//
//            }
//
//            withName: CNNScoreVariants  {
//
//            }
//
//            withName: MergeHaploTypeCallerGermlineVCF  {
//
//            }
//
//            withName: FilterGermlineVariantTranches  {
//
//            }
//
//            withName: IndelRealignerIntervals  {
//
//            }
//
//            withName: GatherRealignedBamFiles  {
//
//            }
//
//            withName: VarscanSomaticScattered  {
//
//            }
//
//            withName: gatherVarscanVCFs  {
//
//            }
//
//            withName: ProcessVarscan  {
//
//            }
//
//            withName: FilterVarscan  {
//
//            }
//
//            withName: MergeAndRenameSamplesInVarscanVCF  {
//
//            }
//
//            withName: Mutect1scattered  {
//
//            }
//
//            withName: gatherMutect1VCFs  {
//
//            }
//
//            withName: MantaSomaticIndels  {
//
//            }
//
//            withName: StrelkaSomatic  {
//
//            }
//
//            withName: finalizeStrelkaVCF  {
//
//            }
//
//            withName: mkHCsomaticVCF  {
//
//            }
//
//            withName: VepTab  {
//
//            }
//
//            withName: mkCombinedVCF  {
//
//            }
//
//            withName: VEPvcf  {
//
//            }
//
//            withName: ReadBackedphasing  {
//
//            }
//
//            withName: AlleleCounter  {
//
//            }
//
//            withName: ConvertAlleleCounts  {
//
//            }
//
//            withName: Ascat  {
//
//            }
//
//            withName: Mpileup4ControFREEC  {
//
//            }
//
//            withName: gatherMpileups  {
//
//            }
//
//            withName: ControlFREEC  {
//
//            }
//
//            withName: ControlFREECviz  {
//
//            }
//
//            withName: SequenzaUtils  {
//
//            }
//
//            withName: gatherSequenzaInput  {
//
//            }
//
//            withName: Sequenza  {
//
//            }
//
//            withName: make_CNVkit_access_file  {
//
//            }
//
//            withName: CNVkit  {
//
//            }
//
//            withName: Clonality  {
//
//            }
//
//            withName: MutationalBurden  {
//
//            }
//
//            withName: MutationalBurdenCoding  {
//
//            }
//
//            withName: mhc_extract  {
//
//            }
//
//            withName: pre_map_hla  {
//
//            }
//
//            withName: OptiType  {
//
//            }
//
//            withName: pre_map_hla_RNA  {
//
//            }
//
//            withName: OptiType_RNA  {
//
//            }
//
//            withName: run_hla_hd  {
//
//            }
//
//            withName: run_hla_hd_RNA  {
//
//            }
//
//            withName: get_vhla  {
//
//            }
//
//            withName: Neofuse  {
//
//            }
//
//            withName: publish_NeoFuse  {
//
//            }
//
//            withName: add_geneID  {
//
//            }
//
//            withName: gene_annotator  {
//
//            }
//
//            withName: pVACseq  {
//
//            }
//
//            withName: concat_pVACseq_files  {
//
//            }
//
//            withName: aggregated_reports  {
//
//            }
//
//            withName: pVACtools_generate_protein_seq  {
//
//            }
//
//            withName: pepare_mixMHC2_seq  {
//
//            }
//
//            withName: install_mixMHC2pred  {
//
//            }
//
//            withName: link_mixMHC2pred  {
//
//            }
//
//            withName: mixMHC2pred  {
//
//            }
//
//            withName: addCCF  {
//
//            }
//
//            withName: make_epitopes_fasta  {
//
//            }
//
//            withName: blast_epitopes  {
//
//            }
//
//            withName: add_blast_hits  {
//
//            }
//
//            withName: csin  {
//
//            }
//
//            withName: immunogenicity_scoring  {
//
//            }
//
//            withName: mixcr  {
//
//            }
//
//            withName: collectSampleInfo  {
//
//            }
//
//            withName: multiQC  {
//
//            }
//
//     }
//     }
// }