process {

    // default errorStrategy 2 attempts then finish
    //errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    errorStrategy = 'finish'
    maxRetries    = 1
    maxErrors     = '-1'
    cache         = 'lenient'
    debug         = true

    label = 'process_high'
    container = "${params.nextneopi_container}"
    conda = (params.enable_conda ? nextneopi_conda : null)
    params.enable_conda    = false
    docker.enabled         = true
    docker.userEmulation   = true
    singularity.enabled    = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
    workflow.workDir        = "/mnt/workflow/pubdir/work"
}
