// Here the different pipeline profiles are configured.
//
// E.g.:
// To run the pipeline using conda environments specify the "-profile conda"
// option.
//
// You may also set some
//
// To run the pipeline on a cluster using conda, specify "-profile conda,cluster"
// Please uncomment and adjust the options for the cluster profile to match your cluster's
// scheduling system. The provided example here works with SGE. If your cluster is running
// another scheduler e.g. slurm please change the settings accordingly.
// See also https://www.nextflow.io/docs/latest/executor.html and
// https://www.nextflow.io/docs/latest/config.html#config-profiles

profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }
    conda {
        params.enable_conda    = true
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    mamba {
        params.enable_conda    = true
        conda.enabled          = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    omics {
        params.enable_conda    = false
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        workflow.workDir        = "/mnt/workflow/pubdir/work"
    }
    docker {
        params.enable_conda    = false
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    arm {
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    podman {
        podman.enabled         = true
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    shifter {
        shifter.enabled        = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
    }
    charliecloud {
        charliecloud.enabled   = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
    }
    gitpod {
        executor.name          = 'local'
        executor.cpus          = 16
        executor.memory        = 60.GB
    }
    local {
       params.nextneopi_container = "dabbleofdevops/nextneopi:20230306"
       params.rigscore_container  = "dabbleofdevops/rigscore:20230306"
       params.pvacseq_container = "dabbleofdevops/pvacseq:20230306"
       params.mutect1_container = "dabbleofdevops/mutect1:20230306"
       params.strelka_container = "quay.io/biocontainers/strelka:2.9.10--h9ee0642_1"
       params.manta_container = "quay.io/biocontainers/manta:1.6.0--h9ee0642_1"
       params.gatk3_container = "quay.io/biocontainers/gatk:3.5--hdfd78af_11"
       params.vep_container = "quay.io/biocontainers/ensembl-vep:107.0--pl5321h4a94de4_0"
       params.multiqc_container = "quay.io/biocontainers/multiqc:1.13--pyhdfd78af_0"
       params.cnvkit_container = "quay.io/biocontainers/cnvkit:0.9.9--pyhdfd78af_0"
       params.allele_counter_container = "quay.io/biocontainers/mulled-v2-c278c7398beb73294d78639a864352abef2931ce:dfe5aaa885de434adb2b490b68972c5840c6d761-0"
       params.gatk4_container = "quay.io/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0"
    }
    //test      { includeConfig 'conf/test.config'      }
    //test_full { includeConfig 'conf/test_full.config' }
}